body {
    background-color: #0000FF;
}

ul {
    color: #FF0000;
}

ul {
    font-family: "Turret Road", cursive;
    font-size: 18px;
}

.grade {
    font-family: "Turret Road", cursive;
}

.youtube {
    background-color: #10e83f;
}

.favoritethings {
    background-color: yellow;
}